@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-nothing-gray-200;
  }
  
  body {
    @apply bg-nothing-gray-50 text-nothing-black antialiased;
  }
}
